# Configuración del Motor de Base de Datos (SQL Server)
DB_SERVER=database
DB_NAME=AdministradorEmpleadosDb
DB_USER=sa
DB_PASSWORD=TuPasswordSeguro123!
DB_PORT=1433

# Configuración del Backend (.NET)
BACKEND_PORT=8080
ASPNETCORE_ENV=Development
JWT_SECRET_KEY=TuClaveSecretaSuperSeguraYMuyLargaDeMasDe32Caracteres!

# Configuración del Frontend (Angular)
FRONTEND_PORT=4200
